/*Responsividade*/
@media (max-width: 768px) {

  .header {
    padding: 0 !important;
  }

  .navList {
    flex-direction: column;
    gap: 0.1rem !important;
    padding: 0.5rem 0 !important;
  }

  .navLink {
    padding: 0.25rem 1rem !important;
    text-align: center;
    width: 100%;
  }
}

.header {
  width: 100%;
  background-color: var(--color-purple-100);
  padding: 1rem 0;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

.navLink {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-bg-100);
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: var(--color-green-200);
  /* Transforma o favicon em cursor */
  cursor: url('/faviconhover.png') 16 16, auto;
}

.logoContainer img {
  height: 50px; 
}